# Virtual Environment
vanaspati_env/
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Downloaded Data (NEVER push this)
data/

# Trained Models (Generated artifacts, not source code)
models/*.pth
models/*.h5

# OS temp files
.DS_Store